Repository dataforgoodfr/13_empreinte_souffrance, pull requests merged in 2025-09, with the labels that each got.

#206 update light text color with lightest pink variable.
  frontend/app/globals.css
Labels: frontend, accessibility

#205 fix background and font color in pain-track table
  frontend/app/[locale]/methodology/_components/pain-track-suffering.tsx
Labels: frontend

#209 add ES logos
  frontend/public/logo_ES_alpha.svg
  frontend/public/logo_ES_white_circle.svg
Labels: frontend

#211 Feat/parse egg calibers distinctly from egg count
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Labels: backend

#215 Feat/identify fresh chicken eggs
  backend/app/business/open_food_facts/breeding_type_calculator.py
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/product_type_calculator.py
  backend/app/config/exceptions.py
  backend/app/enums/open_food_facts/breeding_type_enums.py
  backend/app/enums/open_food_facts/egg_quantity_enums.py
  backend/app/enums/open_food_facts/enums.py
  backend/app/enums/open_food_facts/product_type_enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
  backend/tests/conftest.py
Labels: backend
