Repository dataforgoodfr/13_empreinte_souffrance, pull requests merged in 2025-07, with the labels that each got.

#119 Feat/global suffering figure
  frontend/app/[locale]/methodology/animated-afflictions.tsx
  frontend/app/[locale]/methodology/global-suffering-figure.tsx
  frontend/app/[locale]/methodology/method-details-section.tsx
  frontend/eslint.config.mjs
  frontend/locales/en.ts
  frontend/locales/fr.ts
Labels: frontend

#135 added data for card && fix width of time's card
  frontend/app/[locale]/methodology/animated-afflictions.tsx
  frontend/app/[locale]/methodology/global-suffering-figure.tsx
  frontend/app/[locale]/methodology/suffering-quantification-steps.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Labels: frontend

#142 Chore/components refactoring
  frontend/app/[locale]/methodology/animated-afflictions.tsx
  frontend/app/[locale]/methodology/global-suffering-figure.tsx
  frontend/app/[locale]/methodology/key-results-section.tsx
  frontend/app/[locale]/methodology/quantify-suffering-by-pain.tsx
  frontend/app/[locale]/methodology/suffering-quantification-steps.tsx
  frontend/app/[locale]/ui/general/elements/button-link.tsx
  frontend/app/[locale]/ui/general/elements/suffering-stages-description.tsx
  frontend/app/[locale]/ui/general/footer.tsx
  frontend/app/[locale]/ui/general/home-page/go-further-section.tsx
  frontend/app/[locale]/ui/general/home-page/pain-equation-section.tsx
  frontend/app/[locale]/ui/general/methodology/elements/suffering-synthesis-duration-rows.tsx
  frontend/app/[locale]/ui/general/methodology/elements/suffering-synthesis-duration-table.tsx
  frontend/locales/en.ts
  frontend/locales/fr.ts
Labels: frontend, to be confirmed

#137 Refactor/switch from egg weight calculator to quantity calculator
  backend/app/business/open_food_facts/egg_quantity_calculator.py
  backend/app/business/open_food_facts/egg_weight_calculator.py
  backend/app/business/open_food_facts/pain_report_calculator.py
  backend/app/business/open_food_facts/quantity_calculator.py
  backend/app/enums/open_food_facts/enums.py
  backend/tests/app/business/open_food_facts/test_knowledge_panel.py
Labels: backend
